/*---------------------------------------------------
Project:    Fargo - one page landing Template
Version:    1.0
Theme URI: https://themeforest.net/user/bestui/portfolio/
Author: bestui
Author URI: https://themeforest.net/user/bestui/
-----------------------------------------------------*/

/*---------------------- 
  Stylesheet Guide
------------------------
01. Common style
02. Section baner
03. Section loading
04. Section header
05. Section home
06. Section about
07. Section features
08. Section services
09. Section team
10. Section video
11. Section numbers
12. Section took
13. Section portfolio
14. Section clients
15. Section help
16. Section faq
17. Section price
18. Section blog
19. Section partners
20. Section contact-me
21. Section footer
22. Section scroll-top

------------------------------------------------------*/



/*----------------------------------------------------
 01. Common style
----------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
}

h1,h2,h3,h4,h5 {
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  color: #191d3d;
  line-height: 1.4;
}

p {
  margin-bottom: 30px;
}

h1 span,h2 span,h3 span,h4 span,h5 span {
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0 0 30px;
}

ul li {
  list-style: none;
}

a:focus,a:hover {
  outline: none;
  text-decoration: none;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.heading {
  margin-bottom: 50px;
}

.heading .divider {
  height: 3px;
  width: 80px;
  margin: 0 0 20px;
  border-bottom: 1px solid #18ba60;
  position: relative;
  display: inline-block;
}

.heading .divider:after {
  width: 10px;
  height: 10px;
  margin-left: 32px;
  transform: rotate(45deg);
  transform-origin: 0 100%;
  content: "";
  border-right: 1px solid #18ba60;
  display: block;
  background: #ffffff;
  margin-top: -7px;
  border-bottom: 1px solid #18ba60;
}

.heading h1 {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.heading span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #555;
}

.a-btn {
  text-decoration: none;
  padding: 10px 30px;
  color: #fff;
  background-color: #18BA60;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

.a-btn:hover,.a-btn:focus {
  background-color: transparent;
  color: #18BA60;
  border-color: #18BA60;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gray-bg {
  background-color: #f7f7f7;
}

.dark-overlay {
  position: relative;
  overflow: hidden;
}

.dark-overlay:before {
  content: '';
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*----------------------------------------------------
 02. Section baner
----------------------------------------------------*/

.baner {
  padding: 150px 0;
}

.baner a {
  text-align: center;
  color: #333;
  display: block;
  margin-top: 20px;
  font-weight: 400;
  overflow: hidden;
}

.baner img {
  transition: all 0.5s ease-in-out;
}

.baner img:hover {
  transform: scale(1.05);
}

.baner a:hover {
  color: #18BA60;
}

/*----------------------------------------------------
 03. Section loading
----------------------------------------------------*/

.loading-overlay {
  background: #222;
  color: #222;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 300px auto;
}

#loading-text {
  display: block;
  position: absolute;
  top: 180%;
  left: 50%;
  color: #fff;
  font-weight: 400;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #18BA60;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #18BA60;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #18BA60;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #18BA60;
  border-bottom-color: #18BA60;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #18BA60;
  border-bottom-color: #18BA60;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #18BA60;
  border-bottom-color: #18BA60;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*----------------------------------------------------
 04. Section header
----------------------------------------------------*/

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  border-radius: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
}

.navbar-brand {
  height: auto;
  display: block;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-brand:hover,.navbar-brand:focus {
  color: #18BA60;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-nav {
  margin: 0;
  float: right;
}

.header .navbar-nav li a {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 30px 15px;
  font-family: 'Poppins', sans-serif;
}

.header .navbar-nav li a:hover,.header .navbar-nav li a:focus {
  background: none;
}

.header .navbar-toggle {
  margin-top: 20px;
  padding: 10px;
}

.header .navbar-toggle .icon-bar {
  background: #fff;
  height: 3px;
}

.header.shrink {
  position: fixed;
  top: 0;
  background: #fff;
  box-shadow: 0 10px 25px -15px #999;
}

.header.shrink .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #333;
}

.header.shrink .navbar-nav li a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
}

.header.shrink .navbar-nav li.active a {
  color: #18BA60;
}

.header.shrink .navbar-toggle {
  margin-top: 10px;
  padding: 10px;
}

.header.shrink .navbar-toggle .icon-bar {
  background: #555;
  height: 3px;
}

/*----------------------------------------------------
 05. Section home
----------------------------------------------------*/

.home {
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/Image%20background%202.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .title h1 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.home .title h1.tlt span {
  font-size: 60px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.home .title span {
  color: #18BA60;
}

.home .title p {
  line-height: 1.6em;
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.home .title .a-btn {
  display: inline-block;
  margin-right: 20px;
  background-color: #18BA60;
  border: 1px solid #18BA60;
}

.home .title .a-btn:hover {
  border: 1px solid #18BA60;
  color: #18BA60;
  background-color: transparent;
}


/*----------------------------------------------------
start section slider for slider page
----------------------------------------------------*/

.slider {
  height: 100vh;
}

.slider .container-fluid {
  padding: 0;
}

.slider .item {
  height: 600px;
}

.slider .overlay {
  background-color: rgba(0,0,0,0.75);
  height: 600px;
  padding: 70px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider .first {
  background-image: url(../images/carousel/1.jpg);
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .second {
  background-image: url(../images/carousel/2.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider .third {
  background-image: url(../images/carousel/3.jpg);
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .overlay .title h1 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
  transform: translateY(60px);
  opacity: 0;
  transition-delay: 1.2s;
  transition-duration: 1s;
}

.slider .overlay .title span {
  color: #ddd;
  font-size: 45px;
  display: inline-block;
  transform: translateY(60px);
  opacity: 0;
  transition-delay: 0.5s;
  transition-duration: 1s;
}

.slider .overlay .title p {
  line-height: 1.6em;
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  transform: translateY(60px);
  opacity: 0;
  transition-delay: 1.9s;
  transition-duration: 1s;
}

.slider .overlay .title .a-btn {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  background-color: #18BA60;
  border: 1px solid #18BA60;
  transform: translateY(60px);
  opacity: 0;
  transition-delay: 2.5s;
  transition-duration: 1s;
  transition-property: transform, opacity;
}

.slider .overlay .title .a-btn:hover {
  border: 1px solid #18BA60;
  color: #fff;
  background-color: transparent;
}

.slider .owl-carousel .active h1,.slider .owl-carousel .active p,.slider .owl-carousel .active span,.slider .owl-carousel .active .a-btn {
  opacity: 1;
  transform: translateY(0);
}

.slider .owl-dots {
  position: absolute;
  top: 550px;
  width: 100%;
  justify-content: center;
}


/*----------------------------------------------------
start section home for typed page
----------------------------------------------------*/

.home .overlay .title .typed {
  color: #fff;
  font-size: 45px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 1.25;
}

.home .overlay .title .typed .element {
  font-weight: 600;
  color: #fff;
}


/*----------------------------------------------------
start div video-container for video page
----------------------------------------------------*/

.video-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-container .video-background {
  position: absolute;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -100;
}

.video-container .title h1 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.video-container .title h1.tlt span {
  font-size: 60px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
}

.video-container .title span {
  color: #ddd;
  font-size: 45px;
}

.video-container .title p {
  line-height: 1.6em;
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.video-container .title .a-btn {
  display: inline-block;
  margin-right: 20px;
  background-color: #18BA60;
  border: 1px solid #18BA60;
}

.video-container .title .a-btn:hover {
  border: 1px solid #18BA60;
  color: #fff;
  background-color: transparent;
}


/*----------------------------------------------------
start section home for form page
----------------------------------------------------*/

.home-form {
  text-align: center;
  background-image: url(../images/feature-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-form .overlay {
  background-color: rgba(0,0,0,0.6);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 100px;
}

.home-form .table {
  display: table;
}

.home-form .overlay .title {
  margin-bottom: 30px;
  margin-top: 75px;
}

.home-form .overlay .title span {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  display: block;
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 1.25;
}

.home-form .overlay .title span:last-of-type {
  margin-bottom: 10px;
}

.home-form .overlay .title p {
  line-height: 1.6em;
  color: #ddd;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}

.home-form .overlay .title .a-btn {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  background-color: #18BA60;
  border: 1px solid #18BA60;
}

.home-form .overlay .title .a-btn:hover {
  border: 1px solid #18BA60;
  color: #fff;
  background-color: transparent;
}

.home-form .main-form {
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
}

.home-form .main-form .form-group {
  margin-bottom: 0;
}

.home-form .main-form .form-control {
  display: block;
  margin: auto;
  height: 45px;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  text-indent: 20px;
  border-radius: 0;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: none;
  margin-bottom: 30px;
  font-weight: 500;
}

.home-form .main-form .form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #18BA60;
}

.home-form .main-form input[type='submit'] {
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  background: #18BA60;
  border: none;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 5px;
}

.home-form .main-form input[type='submit']:hover {
  border: 1px solid #18BA60;
  background-color: transparent;
  outline: 0;
  color: #333;
  box-shadow: none;
}

/*----------------------------------------------------
 06. Section about
----------------------------------------------------*/

.about {
  padding: 70px 0;
}

.about .image,.about .words {
  margin-bottom: 30px;
}

.about .words h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.about .words p {
  color: #555;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
}

.about .words .a-btn {
  display: inline-block;
  margin-top: 10px;
}

.about .words .a-btn:hover {
  border: 1px solid #18BA60;
  background-color: #fff;
  color: #18BA60;
}

.about-text h1 {
  margin-bottom: 10px;
}

.about-text h4 {
  margin-bottom: 20px;
}





.feature-list li:before {
  content: "\f058";
  font-family: "FontAwesome";
  margin-right: 15px;
  color: #18ba60;
  font-size: 17px;
  display: inline-block;
  margin-top: 0px;
}


/*----------------------------------------------------
 07. Section features
----------------------------------------------------*/

.features {
  padding: 70px 0;
  background-color: #f7f7f7;
}

.features .item {
  margin-bottom: 30px;
}

.features h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.features .item h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

.features .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.features .item .a-btn {
  margin-top: 20px;
  display: inline-block;
}

.features .item .a-btn:hover {
  background-color: transparent;
  border: 1px solid #18BA60;
  color: #18BA60;
}

/*----------------------------------------------------
 08. Section services
----------------------------------------------------*/

.services {
  padding: 70px 0;
  text-align: center;
}



.services .item:after {
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 30px;
  height: 5px;
  background-color: #18BA60;
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.services .item:hover:after {
  transform: scale(1);
}



.services .item .icon {
  font-size: 40px;
  color: #18BA60;
  text-align: center;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}

.services .item:hover .icon {
  background-color: #18BA60;
  color: #fff;
}

.services .item h3 {
  color: #333;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}

.services .item p {
  color: #555;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}

/*----------------------------------------------------
 09. Section team
----------------------------------------------------*/

.team {
  padding: 70px 0;
  text-align: center;
  background-color: #fff;
}

.team .item {
  position: relative;
}

.team .item .image {
  position: relative;
}

.team .item .image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255, 0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.team .item:hover .image:before {
  opacity: 1;
}

.team .item .desk {
  position: absolute;
  top: 80%;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.1s;
}

.team .item:hover .desk {
  opacity: 1;
  top: 50%;
}

.team .item img {
  margin: 0 auto;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team .item .image {
  overflow: hidden;
}



.team .item h5 {
  color: #333;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0;
}

.team .item span {
  color: #555;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 20px;
}

.team .item p {
  color: #666;
  font-weight: 400;
  font-size: 16px;
  margin-top: 5px;
}

.team .item a {
  display: inline-block;
  font-size: 16px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #222;
  transition: all 0.3s ease-in-out;
}

.team .item a:hover {
  background-color: #18BA60;
  color: #fff;
}

/*----------------------------------------------------
 10. Section video
----------------------------------------------------*/

.video {
  padding: 70px 0;
}

.video h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 30px;
  color: #333;
}

.video p {
  font-weight: 400;
  color: #666;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.video .image {
  position: relative;
  margin-bottom: 60px;
}

.video .image .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: #333;
  border: 4px solid #333;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.video .image .fa:hover {
  background-color: #18BA60;
  border-color: #18BA60;
  color: #fff;
}

.skills .box .item {
  margin-bottom: 25px;
}

.skills .box .item h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .box .item .skills-progress {
  height: 5px;
  width: 90%;
  background: #fff;
  position: relative;
}

.skills .box .item .skills-progress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1ABC9C;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.skills .box .item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  right: -10px;
  top: -34px;
  width: 35px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 13px;
  color: #444;
  font-weight: 700;
}

.skills .box .item .skills-progress span:before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 13px solid #444;
  position: absolute;
  top: -12px;
  right: -2px;
}

/*----------------------------------------------------
  11. Section numbers
----------------------------------------------------*/

.numbers {
  background-image: url(../images/back-3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.numbers .overlay {
  padding: 70px 0;
  background-color: rgba(0,0,0,0.9);
}

.numbers .item {
  margin-bottom: 30px;
}

.numbers .item i {
  font-size: 60px;
  color: #18BA60;
  display: block;
  margin-bottom: 20px;
}

.numbers .item h1 {
  color: #fff;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 0;
}

.numbers .item p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/*----------------------------------------------------
  12. Section took
----------------------------------------------------*/

.took {
  background-image: url(../images/pexels-photo-217294.jpeg);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.took .overlay {
  padding: 70px 0;
  background-color: rgba(0,0,0,0.85);
}

.took p {
  color: #fff;
  margin: 0 10% 30px 10%;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  word-spacing: 2px;
}

.took .fa {
  color: #18BA60;
}

.took h5 {
  color: #18BA60;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

/*----------------------------------------------------
  13. Section portfolio
----------------------------------------------------*/

.my-portfolio {
  padding: 70px 0;
  width: 100%;
  text-align: center;
}

.my-portfolio ul {
  list-style: none;
  margin-bottom: 30px;
}

.my-portfolio ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 5px 21px;
  cursor: pointer;
  color: #555;
  font-weight: 500;
  border: 2px solid #ccc;
  border-radius: 25px;
}

.my-portfolio .selected {
  color: #fff;
  border: 2px solid #18BA60;
  background-color: #18BA60;
}

.my-portfolio .work-area {
  position: relative;
  margin-bottom: 30px;
  min-height: 120px;
}

.my-portfolio .work-area .image {
  overflow: hidden;
}

.my-portfolio .work-area .image img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.my-portfolio .work-area:hover .image img {
  transform: scale(1.05);
}

.my-portfolio .work-area .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 0 40px;
  box-shadow: 0px 2px 8px rgb(220,220,220);
  border-radius: 5px;
}

.my-portfolio .work-area .overlay h5 {
  font-size: 20px;
  font-weight: 500;
  transform: translateX(20px);
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.my-portfolio .work-area .overlay p {
  color: #666;
  font-size: 14px;
  transform: translateX(20px);
  transition: all 0.5s ease;
}

.my-portfolio .work-area:hover .overlay h5,.my-portfolio .work-area:hover .overlay p {
  transform: translateX(0);
}

.my-portfolio .work-area:hover .overlay {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

/*----------------------------------------------------
  14. Section clients
----------------------------------------------------*/

.clients {
  text-align: center;
  background-image: url(../images/feature-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.clients .overlay {
  padding: 70px 0;
  background-color: rgba(0,0,0,0.8);
}

.clients .item img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.clients .item p {
  color: #fff;
  font-size: 24px;
  line-height: 1.7em;
  margin: 0 10%;
  text-align: center;
  margin-bottom: 30px;
}

.clients .item .fa {
  color: #18BA60;
  font-size: 30px;
  display: block;
  margin-bottom: 30px;
}

.clients .item h4 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #18BA60;
  margin-bottom: 0px;
}

.clients .item span {
  font-size: 14px;
  margin-bottom: 30px;
  display: block;
  color: #fff;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: transparent;
  border: 2px solid #bbb;
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
  border: 2px solid #18BA60;
  background-color: #18BA60;
}

/*----------------------------------------------------
  15. Section help
----------------------------------------------------*/

.help {
  padding: 70px 0;
}

.help .box {
  padding: 0;
}

.help .box img {
  width: 100%;
}

.help .box .item {
  padding: 50px;
  min-height: 389px;
}

.help .box .item h3 {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.35em;
}

.help .box .item strong {
  color: #18BA60;
}

.help .box .item p {
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0 40px 0;
  font-weight: 400;
  color: #555;
}

.help .box .item .a-btn:hover {
  background-color: transparent;
  color: #333;
  border: 1px solid #18BA60;
}

/*----------------------------------------------------
  16. Section faq
----------------------------------------------------*/

.our-faqs {
  padding: 70px 0;
}

.our-faqs .image,.our-faqs .box {
  margin-bottom: 30px;
}



.our-faqs .box .item {
  border-bottom: 1px solid rgba(0,0,0,0.07);
}

.our-faqs .box .item:last-of-type {
  border: none;
}

.our-faqs .box h3 {
  color: #18BA60;
  font-size: 20px;
  padding: 15px 10px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  cursor: pointer;
  border: 1px solid #18BA60;
}

.our-faqs .box p {
  display: none;
  margin-top: 10px;
  color: #555;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  box-shadow: 0 1px 30px -2px #d3d3d3;
}

/*----------------------------------------------------
  17. Section price
----------------------------------------------------*/

.price {
  padding: 70px 0;
  text-align: center;
}

.price .item {
  box-shadow: 0px 10px 35px 0px #ccc;
  margin-bottom: 30px;
  padding: 50px 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.price .item:hover {
  box-shadow: 0px 10px 35px 0px #888;
}

.price .item .price-box {
  margin-bottom: 20px;
}

.price .item .price-box p {
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  background-color: #18BA60;
  padding: 6px 30px;
  border-radius: 25px;
}

.price .item .price-box span {
  display: block;
  background: #18ba60;
  color: #fff;
  padding: 20px 0;
}

.price .item .price-box strong {
  font-weight: 500;
  font-size: 50px;
  color: #fff;
}

.price .item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.price .item p.last {
  margin-bottom: 30px;
}

.price .item .a-btn {
  margin: 20px 10% 0 10%;
  display: inline-block;
  background-color: #333;
}

.price .item .a-btn:hover {
  background-color: #18BA60;
  color: #fff;
}

/*----------------------------------------------------
  18. Section blog
----------------------------------------------------*/

.blog {
  padding: 70px 0;
  background-color: #f7f7f7;
}

.blog .blog-area {
  margin-bottom: 30px;
}

.blog .blog-area .image {
  position: relative;
  overflow: hidden;
}

.blog .blog-area .image img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.blog .blog-area:hover img {
  transform: scale(1.1);
}

.blog .blog-area .box {
  margin: 0 auto 0;
  padding: 20px 15px;
  background-color: #fff;
  z-index: 1;
  width: 100%;
  position: relative;
}

.blog .blog-area .box span {
  font-size: 11px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 400;
  background: #656d69;
  padding: 6px 15px;
  border-radius: 25px;
}

.blog .blog-area .box span .fa {
  color: #fff;
  margin-right: 5px;
}

.blog .blog-area .box h1 {
  font-size: 26px;
  color: #333;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.blog .blog-area .box h1:hover {
  color: #18BA60;
}

.blog .blog-area .box p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #555;
  font-weight: 400;
  word-spacing: 2px;
}

.blog .blog-area .a-btn {
  font-size: 13px;
  padding: 10px 15px;
}

.blog .blog-area .a-btn:hover {
  background-color: transparent;
  border: 1px solid #18BA60;
}

/*----------------------------------------------------
  19. Section partners
----------------------------------------------------*/

.partners {
  padding: 70px 0;
}

.partners img {
  opacity: 0.4;
  max-width: 100%;
  cursor: pointer;
}

.partners img:hover {
  opacity: 1;
}

/*----------------------------------------------------
  20. Section contact-me
----------------------------------------------------*/

.contact {
  padding: 70px 0;
  background-color: #f7f7f7;
}

.contact .box .item {
  margin-bottom: 0px;
  display: block;
}

.contact .box .item .fa {
  color: #18BA60;
  font-size: 34px;
  float: left;
  margin-right: 30px;
  width: 30px;
}

.contact .box .item .desk {
  overflow: hidden;
}

.contact .box .item p {
  font-size: 15px;
}

.contact .box .item h4 {
  overflow: hidden;
}

.contact-form {
  border-radius: 3px;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  display: block;
  border: 0px;
  width: 100%;
  height: 45px;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  text-indent: 20px;
  background-color: rgba(255,255,255,0);
  background-image: none;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
  box-shadow: none;
  margin-bottom: 30px;
  font-weight: 500;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #18BA60;
}

.contact-form input[type='submit'] {
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  background: #18BA60;
  border: none;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 20px;
}

.contact-form input[type='submit']:hover {
  border: 1px solid #18BA60;
  background-color: transparent;
  outline: 0;
  color: #333;
  box-shadow: none;
}


/*----------------------------------------------------
  21. Section footer
----------------------------------------------------*/

.footer {
  background-color: #111;
  padding: 50px 0;
}

.social-icon-div {
  text-align: right;
}

.footer .copyright {
  margin-bottom: 0;
  line-height: 2;
}

.social-icon-div i {
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #18BA60;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.social-icon-div i:hover {
  background-color: #18BA60;
}

.social-icon-div p {
  color: #fff;
  font-weight: 400;
}

.social-icon-div a {
  text-align: center;
  transition: all 0.3s ease-in-out;
}

/*----------------------------------------------------
  22. Section scroll-top
----------------------------------------------------*/

#scroll-top {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #444;
  text-align: center;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 9999;
  display: none;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

#scroll-top:hover {
  background-color: #18BA60;
}

#scroll-top i {
  line-height: 15px;
}